/* You can add global styles to this file, and also import other style files */
@import "sass/variables";
@import "../node_modules/bootstrap/scss/bootstrap";

.shadow{
  -webkit-box-shadow: 0px 0px 10px 1px $po-muted;
  -moz-box-shadow: 0px 0px 10px 1px $po-muted;
  box-shadow: 0px 0px 10px 1px $po-muted;
}

.border-circle{
  border-radius:20px;
}
