

<div class="d-flex justify-content-between flex-wrap align-items-center convenio-cards-container">
    <div *ngFor="let agreement of datasource | slice:0:6">
        <div class="indv-card-box shadow violet">
            <header>
                <div class="title">
                    <h5>{{agreement.name}}</h5>
                </div>
            </header>
            <div class="body">
                <div class="content">
                    <div class="item">
                        <span class="data-box">Tipo</span>
                        <span class="content-box">{{agreement.type}}</span>
                    </div>
                    <div class="item">
                        <span class="data-box">Nº GDE expediente</span>
                        <span class="content-box">-</span>
                    </div>
                    <div class="item">
                        <span class="data-box">Estado</span>
                        <span class="content-box">{{agreement.state}}</span>
                    </div>
                </div>
                <span class="detail" (click)="viewModal(agreement)"><i class="fa-solid fa-angle-right"></i></span>
            </div>
        </div>
   </div>
  </div>