@import "/src/sass/variables";


.total-amount-container{
    padding:15px;
    .total-data{
        display:flex;
        div{
            &:first-of-type{
                color:$blue-app;
                border-right: 1px solid $blue-app;
                padding:8px;
                display:flex;
                justify-content: center;
                align-items: center;
                margin-right:15px;
                min-width:65px;
            }
            &:last-of-type{
                display:flex;
                flex-direction: column;
                justify-content: center;
                h5{
                    font-size:1em;
                    line-height: 1;
                    font-weight: 400;
                }
                span{
                    color:$blue-app;
                    font-weight: bold;
                    font-size:1.5em;
                }

            }
        }
        
        &:not(:last-of-type){
            margin-bottom:20px;
        }
        &.green-light{
            div{ 
                &:first-of-type{
                    color:$green-light-app;
                    border-right: 1px solid $green-light-app;
                }  
                &:last-of-type{
                    span{
                        color:$green-light-app;
                    }
                }
             
            }
        
        }
        &.orange{
            div{   
                &:first-of-type{
                    color:$orange-app;   
                    border-right: 1px solid $orange-app;
                } 
                &:last-of-type{
                    span{
                        color:$orange-app;
                    }
                } 
             
            }
          
        }
    }
}