<div class="shadow p-3 mb-5 bg-body table-container">
  <div id="table-proyect" class="table-scroll">
    <table class="table table-responsive table-bordered table-striped custom-table green-light">
      <thead>
        <tr class="theader">
          <th scope="col">Código de la obra</th>
          <th scope="col">Obra</th>
          <th scope="col">Cantidad de rendiciones</th>
          <th scope="col">Acumulado desembolsos</th>
          <th scope="col">Acumulado Rendiciones</th>
          <th scope="col">Monto de obra</th>
          <th scope="col">Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td scope="row">109484</td>
          <td>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam</td>
          <td>2</td>
          <td>$400.000</td>
          <td>$225.000</td>
          <td>$8.000.000</td>
          <td>
            <div class="container px-2 text-center">
              <div class="row gx-2">
                <div class="col">
                  <span (click)="setDetail(1)">
                    <i class="fa-solid fa-eye fa-2x icon-action view-icon"></i>
                  </span>
                </div>
              </div>
            </div>
          </td>
        </tr>
        <tr>
          <td scope="row">109484</td>
          <td>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam</td>
          <td>2</td>
          <td>$400.000</td>
          <td>$225.000</td>
          <td>$1.000.000</td>
          <td>
            <div class="container px-2 text-center">
              <div class="row gx-2">
                <div class="col">
                  <span>
                    <i class="fa-solid fa-eye fa-2x icon-action view-icon"></i>
                  </span>
                </div>
              </div>
            </div>
          </td>
        </tr>
        <tr>
          <td scope="row">109484</td>
          <td>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam</td>
          <td>2</td>
          <td>$400.000</td>
          <td>$225.000</td>
          <td>$1.000.000</td>
          <td>
            <div class="container px-2 text-center">
              <div class="row gx-2">
                <div class="col">
                  <span>
                    <i class="fa-solid fa-eye fa-2x icon-action view-icon"></i>
                  </span>
                </div>
              </div>
            </div>
          </td>
        </tr>
        <tr>
          <td scope="row">109484</td>
          <td>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam</td>
          <td>2</td>
          <td>$400.000</td>
          <td>$225.000</td>
          <td>$1.000.000</td>
          <td>
            <div class="container px-2 text-center">
              <div class="row gx-2">
                <div class="col">
                  <span>
                    <i class="fa-solid fa-eye fa-2x icon-action view-icon"></i>
                  </span>
                </div>
              </div>
            </div>
          </td>
        </tr>
        <tr>
          <td scope="row">109484</td>
          <td>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam</td>
          <td>2</td>
          <td>$400.000</td>
          <td>$225.000</td>
          <td>$1.000.000</td>
          <td>
            <div class="container px-2 text-center">
              <div class="row gx-2">
                <div class="col">
                  <span>
                    <i class="fa-solid fa-eye fa-2x icon-action view-icon"></i>
                  </span>
                </div>
              </div>
            </div>
          </td>
        </tr>
        <tr>
          <td scope="row">109484</td>
          <td>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam</td>
          <td>2</td>
          <td>$400.000</td>
          <td>$225.000</td>
          <td>$1.000.000</td>
          <td>
            <div class="container px-2 text-center">
              <div class="row gx-2">
                <div class="col">
                  <span>
                    <i class="fa-solid fa-eye fa-2x icon-action view-icon"></i>
                  </span>
                </div>
              </div>
            </div>
          </td>
        </tr>
        <tr>
          <td scope="row">109484</td>
          <td>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam</td>
          <td>2</td>
          <td>$400.000</td>
          <td>$225.000</td>
          <td>$1.000.000</td>
          <td>
            <div class="container px-2 text-center">
              <div class="row gx-2">
                <div class="col">
                  <span>
                    <i class="fa-solid fa-eye fa-2x icon-action view-icon"></i>
                  </span>
                </div>
              </div>
            </div>
          </td>
        </tr>
        <tr>
          <td scope="row">109484</td>
          <td>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam</td>
          <td>2</td>
          <td>$400.000</td>
          <td>$225.000</td>
          <td>$1.000.000</td>
          <td>
            <div class="container px-2 text-center">
              <div class="row gx-2">
                <div class="col">
                  <span>
                    <i class="fa-solid fa-eye fa-2x icon-action view-icon"></i>
                  </span>
                </div>
              </div>
            </div>
          </td>
        </tr>
        <tr>
          <td scope="row">109484</td>
          <td>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam</td>
          <td>2</td>
          <td>$400.000</td>
          <td>$225.000</td>
          <td>$1.000.000</td>
          <td>
            <div class="container px-2 text-center">
              <div class="row gx-2">
                <div class="col">
                  <span>
                    <i class="fa-solid fa-eye fa-2x icon-action view-icon"></i>
                  </span>
                </div>
              </div>
            </div>
          </td>
        </tr>
        <tr>
          <td scope="row">109484</td>
          <td>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam</td>
          <td>2</td>
          <td>$400.000</td>
          <td>$225.000</td>
          <td>$1.000.000</td>
          <td>
            <div class="container px-2 text-center">
              <div class="row gx-2">
                <div class="col">
                  <span>
                    <i class="fa-solid fa-eye fa-2x icon-action view-icon"></i>
                  </span>
                </div>
              </div>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="pagination">
    <app-pagination-grid [color]="'green-light'" [totalCount]="100">
    </app-pagination-grid>
  </div>
</div>