@import "/src/sass/variables";

.table-container{
    position:relative;
}

.table-scroll {
    overflow-y: scroll;
    max-height:45vh;
}

.convenio-cards-container{
    & > div{
        width:30%;
        margin-bottom:30px;
        @media (max-width: 1200px){
            width:100%;
        }
    }

}

.pagination{
    width:100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-top:10px;
}

