
.rounded-btn{
    border:1px solid $blue-app;
    border-radius:20px;
    text-align:center;
    color:white;
    background-color: $blue-app;
    transition:all 0.2s;
    padding:6px 10px;
    &:hover{
        border:2px solid $blue-app;
        background-color: white;
        color:$blue-app;
    }
    &.green-light{
        border:2px solid $green-light-app;
        background-color: $green-light-app;
        &:hover{
            color:$green-light-app;
            background-color: white;
        }
    }
    &.orange{
        border:2px solid $orange-app;
        background-color: $orange-app;
        &:hover{
            color:$orange-app;
            background-color: white;
        }
    }
    &.violet{
        border:2px solid $violet-app;
        background-color: $violet-app;
        &:hover{
            color:$violet-app;
            background-color: white;
        }
    }
    &.green{
        border:2px solid $green-app;
        background-color: $green-app;
        &:hover{
            color:$green-app;
            background-color: white;
        }

    }
}

.btn-back{
    width:40px;
    height:40px;
    background:$blue-app;
}

