.form-control.line-control{
    border: none;
    border-bottom: 1px solid $blue-app;
    border-radius: initial;
    background-color: transparent;
    padding-left: 5px;
    resize:none;
    &:focus{
        outline: none;
        box-shadow: none;
    }
}

.form-control.simple-control{
    margin-top:10px;
    border: 1px solid $blue-app;
    border-radius: 20px;
    background-color: transparent;
    resize:none;
    min-height:250px;
    padding:10px;
    &:focus{
        outline: none;
        box-shadow: none;
    }
}