@import "./inputs";

::ng-deep .modal-content {
  border-radius: 25px;
  padding: 15px 30px;
  .modal-header {
    margin-bottom: 20px;
    color: $blue-app;
    border-bottom: 1px solid $blue-app;
    padding: 0;
    .title-icon {
      display: flex;
      align-items: center;
      svg {
        font-size: 30px;
        margin-right: 10px;
      }
    }
    .close {
      color: $blue-app;
      background: none !important;
      border: none !important;
      font-size: 40px;

      &:focus {
        outline: none !important;
      }
    }
  }
  .modal-body {
    padding: 0;
    .title-item {
      border-bottom: 1px solid $classic-gray;
      padding-bottom: 10px;
      display: block;
      width: 100%;
    }
  }

  .modal-footer {
    padding: 0;
    padding-top: 10px;
    border-top: none;
    .btn-success {
      border-radius: 25px;
      background-color: $blue-app;
      border: 2px solid $blue-app;
      min-width:100px;
      &:hover {
        opacity: 0.8;
      }
    }
    .btn-cancel {
      border-radius: 25px;
      border: 2px solid $blue-app;
      color: $blue-app;
      min-width:100px;
      &:hover {
        background-color: $blue-app;
        color: white;
      }
    }
  }
}

// colores

::ng-deep .modal-green-light {
  &.with-border {
    .modal-content {
      border: 2px solid $green-light-app;
    }
  }
  .modal-header {
    border-bottom: 1px solid $green-light-app;
    color: $green-light-app;
    .close {
      color: $green-light-app;
    }
  }
  .modal-footer {
    .btn {
      &:focus {
        outline: none !important;
      }
    }
    .btn-success {
      background-color: $green-light-app;
      border: 2px solid $green-light-app;
    }
    .btn-cancel {
      border: 2px solid $green-light-app;
      color: $green-light-app;
      &:hover {
        background-color: $green-light-app;
        color: white;
      }
    }
  }
}

::ng-deep .modal-orange {
    &.with-border {
      .modal-content {
        border: 2px solid $orange-app;
      }
    }
    .modal-header {
      border-bottom: 1px solid $orange-app;
      color: $orange-app;
      .close {
        color: $orange-app;
      }
    }
    .modal-footer {
      .btn-success {
        background-color: $orange-app;
        border: 2px solid $orange-app;
      }
      .btn-cancel {
        border: 2px solid $orange-app;
        color: $orange-app;
        &:hover {
          background-color: $orange-app;
          color: white;
        }
      }
    }
  }

  ::ng-deep .modal-violet {
    &.with-border {
      .modal-content {
        border: 2px solid $violet-app;
      }
    }
    .modal-header {
      border-bottom: 1px solid $violet-app;
      color: $violet-app;
      .close {
        color: $violet-app;
      }
    }
    .modal-footer {
      .btn-success {
        background-color: $violet-app;
        border: 2px solid $violet-app;
      }
      .btn-cancel {
        border: 2px solid $violet-app;
        color: $violet-app;
        &:hover {
          background-color: $violet-app;
          color: white;
        }
      }
    }
  }

  ::ng-deep .modal-green {
    &.with-border {
      .modal-content {
        border: 2px solid $green-app;
      }
    }
    .modal-header {
      border-bottom: 1px solid $green-app;
      color: $green-app;
      .close {
        color: $green-app;
      }
    }
    .modal-footer {
      .btn-success {
        background-color: $green-app;
        border: 2px solid $green-app;
      }
      .btn-cancel {
        border: 2px solid $green-app;
        color: $green-app;
        &:hover {
          background-color: $green-app;
          color: white;
        }
      }
    }
  }

  ::ng-deep .modal-green-medium {
    &.with-border {
      .modal-content {
        border: 2px solid $green-medium-app;
      }
    }
    .modal-header {
      border-bottom: 1px solid $green-medium-app;
      color: $green-medium-app;
      .close {
        color: $green-medium-app;
      }
    }
    .modal-footer {
      .btn-success {
        background-color: $green-medium-app;
        border: 2px solid $green-medium-app;
      }
      .btn-cancel {
        border: 2px solid $green-medium-app;
        color: $green-medium-app;
        &:hover {
          background-color: $green-medium-app;
          color: white;
        }
      }
    }
  }

  ::ng-deep .modal-pink {
    &.with-border {
      .modal-content {
        border: 2px solid $pink-app;
      }
    }
    .modal-header {
      border-bottom: 1px solid $pink-app;
      color: $pink-app;
      .close {
        color: $pink-app;
      }
    }
    .modal-footer {
      .btn-success {
        background-color: $pink-app;
        border: 2px solid $pink-app;
      }
      .btn-cancel {
        border: 2px solid $pink-app;
        color: $pink-app;
        &:hover {
          background-color: $pink-app;
          color: white;
        }
      }
    }
  }

