@import "/src/sass/variables";

.progress{
    border-radius: 1rem;
    height: 30px;

    &.react{
        border-radius: 0;
    }

    &.green{
        .progress-bar{
            background-color:$green-app;
        }
    }
    &.green-light{
        .progress-bar{
            background-color:$green-light-app;
        }
    }
}

