.searcher{
    background-color: $blue-app;
    color:white;
    position:absolute;
    z-index: 10;
    align-items: center;
    width:100%;
    padding:0 20px;
    top: 0;
    cursor: pointer;
    .searcher-header{
        display:flex;
        justify-content: space-between;
        align-items: center;
        min-height:50px;
    }
    .searcher-body{
        border-top:1px solid rgba(255, 255, 255, 0.3);
        border-bottom:1px solid rgba(255, 255, 255, 0.3);
        display:flex;
        justify-content: space-between;
        align-items: center;
        padding:10px 10px 15px 10px;
    }
    .searcher-footer{
        display:flex;
        justify-content: center;
        align-items: center;
        padding:20px 0;
        button{
            color:$blue-app;
            background-color: white;
            margin:0 5px;
            border:1px solid white;
            box-shadow: 4px 5px 5px -2px rgba(0,0,0,0.21);
            -webkit-box-shadow: 4px 5px 5px -2px rgba(0,0,0,0.21);
            -moz-box-shadow: 4px 5px 5px -2px rgba(0,0,0,0.21);
        }
    }
    &.closed{
        .searcher-body,.searcher-footer{
            height:0px;
            padding:0;
            margin:0;
            visibility: hidden;
            opacity: 0;
        }
    }
    &.opened{
        .searcher-body,.searcher-footer{
            height:auto;
            opacity:1;
            visibility: visible;
        }
     
    }
}

.searcher{
   &.green-light{
    background-color: $green-light-app;
    .searcher-footer{
        button{
         color:$green-light-app;
        }
    }
   }
   &.orange{
    background-color: $orange-app;
    .searcher-footer{
        button{
         color:$orange-app;
        }
    }
   }
   &.violet{
    background-color: $violet-app;
    .searcher-footer{
        button{
         color:$violet-app;
        }
    }
   }
   &.green{
    background-color: $green-app;
    .searcher-footer{
        button{
         color:$green-app;
        }
    }
   }
   &.green-medium{
    background-color: $green-medium-app;
    .searcher-footer{
        button{
         color:$green-medium-app;
        }
    }
   }
   &.pink{
    background-color: $pink-app;
    .searcher-footer{
        button{
         color:$pink-app;
        }
    }
   }

}