<div class="modal-header">
    <div class="title-icon">
        <i class="fa-solid fa-people-group"></i>
        <h4 class="modal-title">Proyecto</h4>
    </div>
    <button type="button" class="close">
        <i class="fa-solid fa-angle-right"></i>
    </button>
</div>
<div class="modal-body">
    <form>
        <div class="form-container d-flex flex-column">
            <div class="container-block">
                <div class="data-block">
                    <span>Código SIPPE</span>
                    <p>{{data.project.id}}</p>
                </div>
                <div class="data-block">
                    <span>Código BAPIN</span>
                    <p>{{data.project.bapinCode ===null ? 0:data.project.bapinCode}}</p>
                </div>
                <div class="data-block">
                    <span>Grupo</span>
                    <p>{{data.project.workTypeGroupId}}</p>
                </div>
                <div class="data-block">
                    <span>Subgrupo</span>
                    <p>{{data.project.workTypeSubGroupId}}</p>
                </div>
                <div class="data-block">
                    <span>Tipo de Obra</span>
                    <p>{{data.project.workTypeSubGroupId}}</p>
                </div>
            </div>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-cancel" (click)="activeModal.close('Close click')">Cerrar</button>
    <!-- <button  *ngIf="showObservations" type="button" class="btn btn-success" (click)="detailModal(1)">Ir a Observaciones</button> -->
</div>
