<button type="button" class="btn btn-new-rendition shadow">
    <i class="fa-solid fa-circle-plus"></i>
    Cargar nueva rendicíon
</button>
<div class="shadow total-amount-container">
    <div class="total-data">
        <div>
            <i class="fa-solid fa-sack-dollar fa-2x"></i>
        </div>
        <div>
            <h5>Desembolso acumulado</h5>
            <span>{{ 7500 | currency:'$':'symbol'}}</span>
        </div>
    </div>
    <div class="total-data">
        <div>
            <i class="fa-solid fa-sack-dollar fa-2x"></i>
        </div>
        <div>
            <h5>Desembolso acumulado</h5>
            <span>{{ 3525 | currency:'$':'symbol'}}</span>
        </div>
    </div>
    <div class="total-data">
        <div>
            <i class="fa-solid fa-sack-dollar fa-2x"></i>
        </div>
        <div>
            <h5>Desembolso acumulado</h5>
            <span>{{ 469 | percent}}</span>
        </div>
    </div>
</div>