
<div class="row">
    <app-line-title [title]="title" [icon]="'magnifying-glass-chart'"></app-line-title>
    <div class="container-content">
        <div class="row row-cols-1 row-cols-md-2 g-8">
            <div class="col counts-items mb-5">
              <div class="card-xl">
                <div class=" shadow card-body">
                    <div class="row justify-content-md-center mb-4 mt-2 header-card">
                        <div class="col-2 mt-2 p-0">
                            <i class="fa-solid fa-tractor fa-2x text-po-cielo"></i>
                        </div>
                        <div class="col-9">
                            <h6 class="card-title text-po-cielo">Obras</h6>
                            <h6 class="card-title text-po-cielo">Registradas</h6>
                        </div>
                    </div>
                    <div class="row justify-content-md-center mb-2">
                        <div class="col text-center">
                            <h1 class="card-text">15</h1>
                        </div>
                    </div>
                </div>
              </div>
            </div>
            <div class="col counts-items mb-5">
              <div class="card-xl">
                <div class=" shadow card-body">
                    <div class="row justify-content-md-center mb-4 mt-2 header-card">
                        <div class="col-2 mt-2 p-0">
                            <i class="fa-solid fa-sack-dollar fa-2x text-po-fucsia"></i>
                        </div>
                        <div class="col-9">
                            <h6 class="card-title text-po-fucsia">Monto total</h6>
                            <h6 class="card-title text-po-fucsia">de las obras</h6>
                        </div>
                    </div>
                    <div class="row justify-content-md-center mb-2">
                        <div class="col text-center">
                            <h4 class="card-text">$15.000.000</h4>
                        </div>
                    </div>
                </div>
              </div>
            </div>
            <div class="col counts-items mb-5">
              <div class="card-xl">
                <div class=" shadow card-body">
                    <div class="row justify-content-md-center mb-4 mt-2 header-card">
                        <div class="col-2 mt-2 p-0">
                            <i class="fa-regular fa-note-sticky fa-2x text-violet-app"></i>
                        </div>
                        <div class="col-9">
                            <h6 class="card-title text-violet-app">Monto</h6>
                            <h6 class="card-title text-violet-app">pagado</h6>
                        </div>
                    </div>
                    <div class="row justify-content-md-center mb-2">
                        <div class="col text-center">
                            <h4 class="card-text">$10.000.000</h4>
                        </div>
                    </div>
                </div>
              </div>
            </div>
            <div class="col counts-items mb-5">
              <div class="card-xl">
                <div class=" shadow card-body">
                    <div class="row justify-content-md-center mb-4 mt-2 header-card">
                        <div class="col-2 mt-2 p-0">
                            <i class="fa-regular fa-file-lines fa-2x text-green-app"></i>
                        </div>
                        <div class="col-9">
                            <h6 class="card-title text-green-app">Monto</h6>
                            <h6 class="card-title text-green-app">rendido</h6>
                        </div>
                    </div>
                    <div class="row justify-content-md-center mb-2">
                        <div class="col text-center">
                            <h4 class="card-text">$5.000.000</h4>
                        </div>
                    </div>
                </div>
              </div>
            </div>
          </div>
    </div>
    <div class="container-content ms-5 p-3 shadow">
        <div  class="mapa" id="mapabox"></div>
    </div>
</div>
<!-- <div class="row">
    <app-line-title [title]="subTitle" [icon]="'magnifying-glass-chart'"></app-line-title>
    <div class="container-content">
        <div class="row row-cols-1 row-cols-md-2 g-8">
            <div class="col counts-items mb-5">
                <div class="card-md">
                    <div class="shadow card-body">

                    </div>
                </div>
            </div>
            <div class="col counts-items-resumen mb-5">
                <div class="card-md">
                    <div class="shadow card-body">
                        <div class="row justify-content-md-center mb-2">
                            <div class="col text-center">
                                <h6 class="card-text-xs">Proyectos Registrados</h6>
                            </div>
                        </div>
                        <div class="row justify-content-md-center mb-4 mt-2 header-card">
                            <div class="col-2 mt-2 p-0">
                                <i class="fa-solid fa-tractor fa-2x text-po-cielo"></i>
                            </div>
                            <div class="col-9">
                                <h6 class="card-title text-po-cielo">19999898999</h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> -->


