<div id="mi-rendicion">
    <app-rendiciones-search></app-rendiciones-search>
    <app-line-title [title]="title" [icon]="icon" [color]="titleColor" [margin]="20"></app-line-title>
    <div class="rendiciones-container row mt-2">
        <div class="col-sm-12 col-lg-4">
            <button type="button" class="btn rounded-btn green-light btn-new-rendition">
                <i class="fa-solid fa-circle-plus"></i>
                Cargar nueva rendición
            </button>
            <button type="button" class="btn rounded-btn green-light btn-new-rendition">
                <i class="fa-solid fa-circle-plus"></i>
                Cargar nuevo certificado
            </button>
            <app-expediente [color]="titleColor"></app-expediente>
            <div class="mb-3">
                <app-graphic-data [color]="titleColor" [graphicItems]="doughnutChartData" [title]="'Rendiciones'"
                    [totalAmount]="36"></app-graphic-data>
            </div>
            <div class="mb-3">
                <app-amount-information [color]="titleColor" [items]="itemsTotal"></app-amount-information>
            </div>
            <div class="mb-3">
                <app-amount-information [color]="'red'" [items]="totalAlerts"></app-amount-information>
            </div>
        </div>
        <div class="col-sm-12 col-lg-8">
            <app-rendiciones-grid (changeDetailMode)="changeDetailMode($event)">
            </app-rendiciones-grid>
        </div>
    </div>
</div>