@import "/src/sass/variables";
:host{
  font-family: 'Encode Sans',Arial ,sans-serif;
  font-size: 0.8em;
    .shadow{
      margin: 0 20px !important;
    }
    thead,tbody{
      text-align: center;
    }
    .theader,.icon-action {
      color: $po-cielo;
    }
    .icon-action{
      cursor: pointer;
    }
    .icon-file{
      color: $green-light-app;
    }
    .icon-money{
      color: $po-cereza;
    }
    .table thead th {
      border-bottom: 2px solid $verde-cemento;
    }
}
