<app-line-title [title]="title" [margin]="20" [icon]="'list-check'"></app-line-title>
<div class="shadow p-3 mb-5 bg-body">
  <div id="table-task" class="table-scroll">
    <table class="table table-responsive table-bordered table-striped">
      <thead>
        <tr class="theader">
          <th scope="col">Fecha</th>
          <th scope="col">Estado</th>
          <th scope="col">Tipo</th>
          <th scope="col">Descripción</th>
          <th scope="col">Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15]">
          <th scope="row">15/11/2020</th>
          <td>Su trámite vence el 15/06/2022</td>
          <td><i class="fa-solid fa-hand-holding-dollar fa-2x icon-money"></i></td>
          <td>El proyecto N° 1239 fue rechazado.</td>
          <td>
            <div class="container px-2">
              <div class="row gx-2">
                <div class="col">
                  <span (click)="viewModal()">
                    <i class="fa-solid fa-eye fa-2x icon-action"></i>
                  </span>
                </div>
                <div class="col">
                  <span (click)="commentsModal()">
                    <i class="fa-regular fa-comments fa-2x icon-action"></i>
                  </span>
                </div>
              </div>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>