@import "/src/sass/variables";
@import "/src/sass/table";
:host {
  font-family: "Encode Sans", Arial, sans-serif;
  .shadow {
    margin: 0 20px !important;
  }
  thead,
  tbody {
    text-align: center;
  }
  .theader,
  .icon-action {
    color: $po-cielo;
  }
  .icon-action {
    cursor: pointer;
  }
  .icon-file {
    color: $green-light-app;
  }
  .icon-money {
    color: $po-cereza;
  }
  .table td {
    vertical-align: middle;
  }
  .table thead th {
    border-bottom: 2px solid $verde-cemento;
  }
  .table-scroll {
    overflow-y: scroll;
    max-height: 575px;
  }

  .state {
    // estados
    &.vencido {
      & > div {
        border-left: 3px $defered-app solid;
        .state-icon{
          color:$defered-app;
        }
      }
    }
    &.valido {
      & > div {
        border-left: 3px $valid-app solid;
        .state-icon{
          color:$valid-app;
        }
      }
    }
    &.proximo {
      & > div {
        border-left: 3px $next-app solid;
        .state-icon{
          color:$next-app;
        }
      }
    }
    & > div {
      display:flex;
      justify-content: space-between;
      align-items: center;
    }
    .state-icon {
      margin-left:10px;
    }
    .state-text {
      flex: 2;
      margin-left: 10px;
    }
  }
}
