@import "/src/sass/variables";


.total-amount-container{
    padding: 20px 0;
    min-height: 80px;
    .title{
        display:flex;
        align-items: center;
        margin: 0 20px 20px 20px;
        border-bottom: 1px solid $classic-gray;
        padding-bottom: 10px;
        h4{
            font-size:1.2em;
            margin-bottom: 0;
        }
        svg{
            font-size:24px;
            margin-right:5px;
        }
        &.green-light{
            color:$green-light-app;
        }
        &.orange{
            color:$orange-app;
        }
        &.violet{
            color:$violet-app;
        }
        &.green{
            color:$green-app;
        }
    }
    .total-data{
        display:flex;
        div{
            &:first-of-type{
                color:$blue-app;
                border-right: 1px solid $blue-app;
                padding:8px;
                display:flex;
                justify-content: center;
                align-items: center;
                margin-right:5px;
                min-width:50px;
                font-size:10px;
                svg{
                    font-size:24px;
                }
            }
            &:last-of-type{
                display:flex;
                flex-direction: column;
                justify-content: center;
                h5{
                    font-size:1em;
                    line-height: 1.5;
                    font-weight: 400;
                    margin-bottom:0;
                }
                p{
                    color:$blue-app;
                    font-weight: bold;
                    font-size:1em;
                    word-break: break-word;
                    margin-bottom: 0;
                }

            }
        }
        
        &:not(:last-of-type){
            margin-bottom:20px;
        }
        &.green-light{
            div{ 
                &:first-of-type{
                    color:$green-light-app;
                    border-right: 1px solid $green-light-app;
                }  
                &:last-of-type{
                    p{
                        color:$green-light-app;
                    }
                }
             
            }
        
        }
        &.orange{
            div{   
                &:first-of-type{
                    color:$orange-app;   
                    border-right: 1px solid $orange-app;
                } 
                &:last-of-type{
                    p{
                        color:$orange-app;
                    }
                } 
             
            }
          
        }
        &.violet{
            div{   
                &:first-of-type{
                    color:$violet-app;   
                    border-right: 1px solid $violet-app;
                } 
                &:last-of-type{
                    p{
                        color:$violet-app;
                    }
                } 
             
            }
          
        }
        &.green{
            div{   
                &:first-of-type{
                    color:$green-app;   
                    border-right: 1px solid $green-app;
                } 
                &:last-of-type{
                    p{
                        color:$green-app;
                    }
                } 
             
            }
          
        }
    }
}