<div id="mi-proyecto">
    <app-proyecto-search></app-proyecto-search>
    <app-line-title [title]="title" [icon]="icon" [color]="titleColor" [margin]="20"></app-line-title>
    <div class="proyectos-container row mt-2">
        <div class="col-sm-12 col-lg-4">
            <div class="mb-3">
                <app-graphic-data [color]="titleColor" [graphicItems]="doughnutChartData" [title]="'Proyectos'"
                    [totalAmount]="totalProjects"></app-graphic-data>
            </div>
            <div class="mb-3">
                <app-amount-information [color]="titleColor" [items]="itemsTotal"></app-amount-information>
            </div>
            <div class="mb-3">
                <app-amount-information [color]="'red'" [items]="totalAlerts"></app-amount-information>
            </div>
        </div>
        <div class="col-sm-12 col-lg-8">
            <app-proyecto-grid (changeCardDetailMode)="handleDetails($event)">
            </app-proyecto-grid>
        </div>

    </div>
</div>