<div class="convenio-detail-container row">
    <div class="col-lg-12 col-xl-8 mb-3">
        <div class="mb-3">
            <app-convenio-state></app-convenio-state>
        </div>
        <div>
        <!-- Opcion 1    <app-convenio-datos-generales></app-convenio-datos-generales>  -->
        <!-- Opcion 2 --> <app-convenio-datos-generales-alternative></app-convenio-datos-generales-alternative> 
        </div>
    </div>
    <div class="col-lg-12 col-xl-4">
        <div class="mb-3">
            <div class="mb-3">
                <app-amount-information [color]="titleColor" [items]="itemsTotal"></app-amount-information>
            </div>
            <div class="mb-3">
                <app-amount-information [title]="datesTitle" [color]="titleColor" [items]="itemsDates">
                </app-amount-information>
            </div>
        </div>
    </div>
</div>