<div class="convenio-detail-container row">
    <div class="col-lg-12 col-xl-8 mb-2">
        <div class="mb-2">
            <app-convenio-state></app-convenio-state>
        </div>
        <div>
            <app-convenio-datos-generales></app-convenio-datos-generales>
        </div>
    </div>
    <div class="col-lg-12 col-xl-4">
        <div class="mb-2">
            <div class="mb-2">
                <app-amount-information [color]="titleColor" [items]="itemsTotal"></app-amount-information>
            </div>
            <div class="mb-2">
                <app-amount-information [title]="datesTitle" [color]="titleColor" [items]="itemsDates">
                </app-amount-information>
            </div>
        </div>
    </div>
</div>