<nav class="shadow navbar navbar-expand-lg navbar-light bg-light mt-4 mb-4">
  <div class="d-flex justify-content-xxl-between w-100">
    <div class="row">
      <div class="col-12">
        <img
        src="./assets/images/logo_ministerio.svg"
        height="35"
        alt="Arg Escudo Logo"
        loading="lazy"
      />
      </div>
    </div>
    <div class="row">
      <div class="col-12 title-bar">
        <span>Oficina Virtual</span>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <a
        class="text-reset me-3 hidden-arrow"
        aria-expanded="false"
      >
        <i class="fas fa-bell fa-2x bell-icon"></i>
        <span class="badge rounded-pill badge-notification bg-po-fucsia">1</span>
      </a>
      </div>
    </div>
  </div>
</nav>
