@import "/src/sass/variables";
:host{
  .navbar{
    margin:0 24px;
    &>div{
      padding:5px 20px;
    }
  }
  .bell-icon{
    color: $po-cielo;
  }
  .title-bar{
    font-family: 'Encode Sans',Arial ,sans-serif;
    font-size: 25px;
  }
  .username{
    border-left:1px solid $blue-app;
    color:$blue-app;
    font-size:1.1em;
    padding-left:10px;
    span{
      padding-right:10px;
    }
  }
}
