@import "/src/sass/variables";

:host{
  .navbar{
    margin:0 24px;
    &>div{
      padding:5px 20px;
    }
  }
  .bell-icon{
    color: $po-cielo;
  }
  .title-bar{
    font-family: 'Encode Sans',Arial ,sans-serif;
    font-size: 25px;
  }
  .username{
    border-left:1px solid $blue-app;
    color:$blue-app;
    font-size:1.1em;
    padding-left:10px;
    span,a{
      padding-right:10px;
    }
    a,button{
      color: inherit;
    }
    li{
      list-style: none;
    }
    .menu-item{
      padding-left: 13px;
      font-size: 14px;
      color: $blue-app;
      cursor: pointer;
    }
  }
  .org{
    color: $blue-app;
    font-size: 10px;
  }
}
