
<div class="shadow expediente-container">
    <div class="form-group mb-2">
        <label>Nº expediente GDE convenio</label>
        <input [class]="'form-control line-control '+ color" type="text" readonly value="EXP-s12:16074864/2011" />
    </div>
    <div class="form-group mb-2">
        <label>Código de obra</label>
        <input [class]="'form-control line-control ' + color" type="text" readonly value="12345" />
    </div>
    <div class="form-group">
        <label>Nombre</label>
        <input [class]="'form-control line-control ' + color" type="text" readonly value="Remodelación Estación Lanús Boleterias Tren Roca" />
    </div>
</div>