@import"/src/sass/variables";

.line-title{
    color:$blue-app;
    margin-top:0px !important;
    margin-bottom: 20px !important;
    border-bottom:1px solid $blue-app;
    padding-bottom:10px;
    display:flex;
    h3{
        font-size:1.5em;
    }
    &.subtitle{
        margin-bottom:0 !important;
        h3{
            font-size:1.2em; 
        }
        svg{
            font-size:1.5em;
        }
    }
    svg{
        margin-right:10px;
        font-size:1.8em;
    }
    &.color-green-light{ // param green-light
        color:$green-light-app;
        border-bottom:1px solid $green-light-app;
    }
    &.color-orange{
        color:$orange-app;
        border-bottom:1px solid $orange-app;
    }

    &.color-violet{
        color:$violet-app;
        border-bottom:1px solid $violet-app;
    }
    &.color-green{
        color:$green-app;
        border-bottom:1px solid $green-app;
    }
    &.color-green-medium{
        color:$green-medium-app;
        border-bottom:1px solid $green-medium-app;
    }
    &.color-pink{
        color:$pink-app;
        border-bottom:1px solid $pink-app;
    }
    &.neutralline{
        border-bottom:1px solid $strong-gray;
    }
    &.noLine{
        border-bottom:none;
    }
}

