<div class="shadow p-3 mb-5 bg-body table-container" *ngIf="datasource && datasource.length">
  <div id="table-proyect" class="table-scroll">
    <table class="table table-responsive table-bordered table-striped custom-table orange" *ngIf="datasource">
      <thead>
        <tr class="theader">
          <th scope="col" *ngFor="let head of headelements;">{{head}}</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let el of datasource">
          <td scope="row">{{el.id}}</td>
          <td>{{el.name}}</td>
          <td>{{el.workflowStepStatus}}</td>
          <td>Factibilidad</td>
          <td> $ {{el.totalCost}}</td>
          <td>90</td>
          <td>
            <div class="container px-2 text-center">
              <div class="row gx-2">
                <div class="col">
                  <span (click)="setDetail(1)">
                    <i class="fa-solid fa-eye fa-2x icon-action view-icon"></i>
                  </span>
                  <span (click)="setCardDetail(1)">
                    <i class="fa-solid fa-eye fa-2x icon-action view-icon"></i>
                  </span>
                </div>
              </div>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="pagination">
    <app-pagination-grid (changePageEvent)="changeGridPage($event)" [color]="'orange'" [totalCount]="totalCount">
    </app-pagination-grid>
  </div>
</div>