<div class="shadow p-3 mb-5 bg-body table-container" *ngIf="datasource && datasource.length">
  <div id="table-proyect" class="table-scroll">
    <table matSort (matSortChange)="sortData($event)" class="table table-responsive table-bordered table-striped custom-table orange" *ngIf="datasource">
      <thead>
        <tr class="theader">
          <ng-container *ngFor="let head of headelements;">
          <th *ngIf="head.sort" [mat-sort-header]="head.sort" scope="col" >{{head.name}}</th>
          <th *ngIf="!head.sort" scope="col" >{{head.name}}</th>
        </ng-container>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let el of datasource">
          <td scope="row">{{el.id}}</td>
          <td>{{el.name}}</td>
          <ng-container [ngSwitch]="el.workflowStep">
            <td *ngSwitchCase=0>Borrador</td>
            <td *ngSwitchCase=1>Nivel 1</td>
            <td *ngSwitchCase=2>Nivel 2</td>
            <td *ngSwitchCase=3>Nivel 3</td>
            <td *ngSwitchCase=4>Nivel 4</td>
            <td *ngSwitchCase=5>Nivel 5</td>
            <td *ngSwitchCase=255>Aprobado</td>
          </ng-container> 
          <td>{{el.creationDate | date: 'dd/MM/yyyy'}}</td>         
          <td>${{el.totalCost | dollar}}</td>          
          <td>
            <div class="container px-2 text-center">
              <div class="row gx-2">
                <div class="col">
                  <span (click)="setDetail(el)" *ngIf="el.workflowStepStatus !== 3">
                    <div [ngClass]="{
                      'borrador' : el.workflowStep === 0,
                      'engestion' : el.workflowStep ===  1 || el.workflowStep === 2 || 
                                    el.workflowStep === 3 || el.workflowStep === 4 || el.workflowStep === 5,
                      'aprobado' : el.workflowStep === 255
                   }">                      
                     <i class="fa-solid fa-eye fa-2x"></i>
                  </div>
                  </span>
                  <span (click)="setDetail(el)" *ngIf="el.workflowStepStatus === 3">
                    <div [ngClass]="{
                      'observado' : el.workflowStepStatus === 3
                   }">                      
                     <i class="fa-solid fa-eye fa-2x"></i>
                  </div>
                  </span>
                </div>
              </div>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="pagination">
    <app-pagination-grid (changePageEvent)="changeGridPage($event)" [color]="'orange'" [totalCount]="totalCount">
    </app-pagination-grid>
  </div>
</div>