<app-line-title [neutralLine]="true" [subtitle]="true" [title]="title" [icon]="icon" [color]="'green'" [margin]="20"></app-line-title>
<div class="d-flex section justify-content-between">
<div class="card-box w-50">
    <div class="card-box-body">
        <div class="card-box-item with-icon">
            <div class="icon">
                <i class="fa-solid fa-building-columns"></i>
            </div>
            <div class="item">
                <h5>Organismo ejecutor</h5>
                <p>{{organismo}}</p>
            </div>
        </div>
    </div>
</div>
<div class="card-box w-50 amount">
    <div class="card-box-body">
        <div class="card-box-item with-icon">
            <div class="icon">
                <i class="fa-solid fa-sack-dollar"></i>
            </div>
            <div class="item">
                <h5>Monto total vigente de la obra</h5>
                <p>{{work.updatedAmount ? '$ ' +(work.updatedAmount | dollar) : '-'}}</p>
            </div>
        </div>
    </div>
</div>
</div>
<div class="d-flex section justify-content-between tri-items">
<div class="card-box w-50">
    <div class="card-box-body">
        <div class="card-box-item">
            <div class="item">
                <h5>Codigo sippe</h5>
                <p>{{work.projectId}}</p>
            </div>
        </div>
    </div>
</div>
<div class="card-box w-50">
    <div class="card-box-body">
        <div class="card-box-item">
            <div class="item">
                <h5>Estado</h5>
                <p>{{workSteps[work.step]}}</p>
            </div>
        </div>
    </div>
</div>
<div class="card-box w-50">
    <div class="card-box-body">
        <div class="card-box-item with-icon">
            <div class="icon">
                <i class="fa-solid fa-file-lines"></i>
            </div>
            <div class="item">
                <h5>Plan</h5>
                <p>{{planes}}</p>
            </div>
        </div>
    </div>
</div>
</div>
<div class="d-flex section justify-content-between flex-wrap">
<div class="card-box w-50 amount-bar-progress">
    <div class="card-box-body">
        <div class="card-box-item with-icon">
            <div class="icon">
                <i class="fa-solid fa-sack-dollar"></i>
            </div>
            <div class="item">
                <h5>Monto total vigente de la obra</h5>
                <p>40%</p>
                <p>
                    <ngb-progressbar class="green" [value]="40"></ngb-progressbar>
                </p>
            </div>
        </div>
    </div>
</div>
<div class="card-box w-50 amount-bar-progress">
    <div class="card-box-body">
        <div class="card-box-item with-icon">
            <div class="icon">
                <i class="fa-solid fa-sack-dollar"></i>
            </div>
            <div class="item">
                <h5>Monto total pagado</h5>
                <p>$400.000</p>
                <p>
                    <ngb-progressbar class="green" [value]="40"></ngb-progressbar>
                </p>
            </div>
        </div>
    </div>
</div>
<div class="card-box w-50 amount-bar-progress">
    <div class="card-box-body">
        <div class="card-box-item with-icon">
            <div class="icon">
                <i class="fa-solid fa-sack-dollar"></i>
            </div>
            <div class="item">
                <h5>Monto a rendir</h5>
                <p>$225.000</p>
                <p>
                    <ngb-progressbar class="green" [value]="40"></ngb-progressbar>
                </p>
            </div>
        </div>
    </div>
</div>
<div class="card-box w-50 amount-bar-progress">
    <div class="card-box-body">
        <div class="card-box-item with-icon">
            <div class="icon">
                <i class="fa-solid fa-sack-dollar"></i>
            </div>
            <div class="item">
                <h5>Saldo de la obra</h5>
                <p>$600.000</p>
                <p>
                    <ngb-progressbar class="green" [value]="40"></ngb-progressbar>
                </p>
            </div>
        </div>
    </div>
</div>
</div>