<div>
    <div id="terms">
        <button class="btn rounded-btn">Términos de Datos Abiertos y Politica de Privacidad</button>
        <p>{{year}} | Ministerio de Obras Públicas Hipólito Yrigoyen 250 (C1002ABC) CABA Tel. 54 (011) 4349-7699</p>
    </div>
    <div id="main-footer">
        <div class="autor">
            <div class="primero-gente">
                <img src="assets/images/logo_primerolagente.svg" alt="Primero la gente">
            </div>
            <div class="ministerio">
                <img src="assets/images/ministerio-blanco.png" alt="Ministerio de obras plublicas">
            </div>
        </div>
        <div class="social">
            <address>
                <a target="_blank"
                    href="https://www.argentina.gob.ar/obras-publicas">https://www.argentina.gob.ar/obras-publicas</a>
            </address>
            <ul>
                <li><a target="_blank" href="https://www.facebook.com/MinObrasPublicas"><img src="assets/images/facebook-footer.png"
                            alt="Facebook Ministerio Obras Publicas"></a></li>
                <li><a target="_blank" href="https://twitter.com/ObrasPublicasAR"><img src="assets/images/twitter-footer.png"
                            alt="Twitter Ministerio Obras Publicas"></a></li>
                <li><a target="_blank" href="https://www.instagram.com/obraspublicasar"><img src="assets/images/instagram-footer.png"
                            alt="Instagram Ministerio Obras Publicas"></a></li>
                <li><a target="_blank" href="https://www.youtube.com/channel/UCG4srSERswZWKqf_vnDjcMw"><img src="assets/images/youtube-footer.png"
                            alt="Youtube Ministerio Obras Publicas"></a></li>
            </ul>
        </div>
    </div>
</div>