<div class="row convenio-datos">
    <div class="col-6">
        <div class="card-box shadow mb-3">
            <div class="card-box-title">
                <i class="fa-solid fa-file-contract"></i>
                <h4>Datos generales</h4>
            </div>
            <div class="card-box-body">

                <div class="card-box-item">
                    <div class="item">
                        <h5>Tipo de convenio</h5>
                        <p>Marco</p>
                    </div>
                </div>
                <div class="card-box-item">
                    <div class="item">
                        <h5>N° GDE convenio</h5>
                        <p>CONVE-2020-31535573-APN-MOP</p>
                    </div>
                </div>
                <div class="card-box-item">
                    <div class="item">
                        <h5>N° GDE expediente</h5>
                        <p>EX-2020-27339997- -APN-SGA#MOP</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="shadow mb-3">
            <div class="card-box">
                <div class="card-box-body">
                    <div class="card-box-item with-icon">
                        <div class="icon">
                            <i class="fa-solid fa-grip"></i>
                        </div>
                        <div class="item">
                            <h5>Categoría</h5>
                            <p>Lorem ipsum</p>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="col-6">
        <div class="card-box shadow mb-3">
            <div class="card-box-title">
                <i class="fa-solid fa-file-contract"></i>
                <h4>Convenios especificos</h4>
            </div>
            <div class="card-box-body">
                <div class="card-box-item">
                    <div class="item">
                        <span>Puesta en valor de las áreas centrales del casco
                            urbano Lanús</span>
                    </div>
                    <hr/>
                </div>
                <div class="card-box-item">
                    <div class="item">
                        <span>Lorem ipsum dolor sit amet, consectetuer adipiscing
                            elit, sed diam nonummy nibh euismod tincidunt ut </span>
                    </div>
                    <hr/>
                </div>
                <div class="card-box-item">
                    <div class="item">
                        <span>Lorem ipsum dolor sit amet, consectetuer adipiscing
                            elit, sed diam nonummy nibh euismod tincidunt ut </span>
                    </div>
                    <hr/>
                </div>
                <div class="card-box-item">
                    <div class="item">
                        <span>Lorem ipsum dolor sit amet, consectetuer adipiscing
                            elit, sed diam nonummy nibh euismod tincidunt ut </span>
                    </div>
                    <hr/>
                </div>
            </div>
        </div>
    </div>
</div>