  <div class="content-list">
    <div class="list-group">
      <div class="shadow b-misobras list-group-item list-group-item-action mb-4">
        <div class="d-flex w-100 justify-content-between">
          <label class="mb-3 h-misobras">21/10/2020</label>
          <i class="m-1 c-misobras fa-solid fa-xmark"></i>
        </div>
        <p class="mb-1 ext-po-black">Se modificó el nombre obra código</p>
        <p class="text-po-black">n°13456</p>
      </div>
      <div class="shadow b-misdesem list-group-item list-group-item-action mb-4">
        <div class="d-flex w-100 justify-content-between">
          <label class="mb-3 h-misdesem">21/10/2020</label>
          <i class="m-1 c-misdesem fa-solid fa-xmark"></i>
        </div>
        <p class="mb-1 ext-po-black">Se modificó el nombre obra código</p>
        <p class="text-po-black">n°13456</p>
      </div>
      <div class="shadow b-misconve list-group-item list-group-item-action mb-4">
        <div class="d-flex w-100 justify-content-between">
          <label class="mb-3 h-misconve">21/10/2020</label>
          <i class="m-1 c-misconve fa-solid fa-xmark"></i>
        </div>
        <p class="mb-1 ext-po-black">Se modificó el nombre obra código</p>
        <p class="text-po-black">n°13456</p>
      </div>
      <div class="shadow b-misrendi list-group-item list-group-item-action mb-4">
        <div class="d-flex w-100 justify-content-between">
          <label class="mb-3 h-misrendi">21/10/2020</label>
          <i class="m-1 c-misrendi fa-solid fa-xmark"></i>
        </div>
        <p class="mb-1 ext-po-black">Se modificó el nombre obra código</p>
        <p class="text-po-black">n°13456</p>
      </div>
      <div class="shadow b-misobras list-group-item list-group-item-action mb-4">
        <div class="d-flex w-100 justify-content-between">
          <label class="mb-3 h-misobras">21/10/2020</label>
          <i class="m-1 c-misobras fa-solid fa-xmark"></i>
        </div>
        <p class="mb-1 ext-po-black">Se modificó el nombre obra código</p>
        <p class="text-po-black">n°13456</p>
      </div>
      <div class="shadow b-misdesem list-group-item list-group-item-action mb-4">
        <div class="d-flex w-100 justify-content-between">
          <label class="mb-3 h-misdesem">21/10/2020</label>
          <i class="m-1 c-misdesem fa-solid fa-xmark"></i>
        </div>
        <p class="mb-1 ext-po-black">Se modificó el nombre obra código</p>
        <p class="text-po-black">n°13456</p>
      </div>
      <div class="shadow b-misconve list-group-item list-group-item-action mb-4">
        <div class="d-flex w-100 justify-content-between">
          <label class="mb-3 h-misconve">21/10/2020</label>
          <i class="m-1 c-misconve fa-solid fa-xmark"></i>
        </div>
        <p class="mb-1 ext-po-black">Se modificó el nombre obra código</p>
        <p class="text-po-black">n°13456</p>
      </div>
      <div class="shadow b-misrendi list-group-item list-group-item-action mb-4">
        <div class="d-flex w-100 justify-content-between">
          <label class="mb-3 h-misrendi">21/10/2020</label>
          <i class="m-1 c-misrendi fa-solid fa-xmark"></i>
        </div>
        <p class="mb-1 ext-po-black">Se modificó el nombre obra código</p>
        <p class="text-po-black">n°13456</p>
      </div>
    </div>
  </div>



