@import "src/sass/variables";
:host{
  font-family: 'Encode Sans',Arial ,sans-serif;
  font-size: 16px;
    .shadow{
      margin-top: 7vh;
    }
    .restore-pass {
      display:flex;
      padding:10px 0;
      justify-content: center;
      align-items: center;
      a {
        color: $po-muted;
        text-decoration: none;
        padding-bottom: 2px;
        border-bottom: 2px solid $po-muted;
        line-height: 1;
        font-size: 9px;
      }
    }
    .courner-end{
      border-top-right-radius: 50%;
      border-bottom-right-radius: 50%;
    }
    .courner-start{
      border-start-start-radius: 7px;
      border-end-start-radius: 7px;
      width: 280px;
      border: none;
    }
    .img-content {
      padding-right: 15vw;
    }
    .main-footer{
      padding-top: 10px;
      border-top: solid 1px #ddd;
      background-color: #F3FAFF;
      h2 {
        font-size: 1.25em;
        color: $po-black;
        font-weight: 700;
        margin-bottom: 24px;
        margin-top: 10px;
      }
      a{
        display: block;
        font-size: 16px;
        padding: 6px 0;
        text-decoration: none!important;
        color:$po-black;

      }
      ul{
        list-style-type:none;
      }
    }
    .sub-footer {
      background-color: $celeste-argentina;
      padding: 20px 0 40px 0;
      display:flex;
      align-items: center;
      .image-responsive{
        margin-bottom: 20px;
        max-width: 300px;
        display: block;
      }
  }
  .back-image{
    padding-bottom: 2rem;
  }
  .wrapper-header{
    width: 100%; 
    padding-left: 0;
    padding-right: 0;
    background-image: url("../../../../assets/images/banner.jpg");
    background-size: cover;
  }
  .text-hearder {
    color: white;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height:328px;
  }
  .text-pa{
    width: 31vw;
  }
  .psw-input{
    position:relative;
    input{
      padding-right: 45px;
    }
    .hide-pass{
      position: absolute;
      right: 10px;
      top: 37px;
      font-size: 22px;
      cursor: pointer;
      &:hover{
        opacity:0.8;
      }
      &.hide{
        right: 11px;
      }
      &.view{
        right: 10px;
      }
    }
  }


  
}
