<div class="main-head">
  <div class="navbar navbar-expand-md bg-celeste-argentina">
    <div class="container-fluid justify-content-center">
      <div>
        <div class="navbar-brand">
          <div class="img-content">
            <img src="./assets/images/logo_argentina-blanco.svg" alt="" width="254" height="50"
              class="d-inline-block align-text-top">
          </div>
        </div>
      </div>
      <form class="d-flex align-items-end">
        <div class="input-group mb-3">
          <input class="form-control shadow-none courner-start" type="search"
            placeholder="Buscar trámites, servicios o áreas" aria-label="Search">
          <button class="btn btn-po-gray courner-end shadow-none" type="button">
            <i class="text-primary fa-solid fa-magnifying-glass"></i>
          </button>
        </div>
        <div class="m-3">
          <button class="btn text-primary bg-white rounded-pill">miArgentina</button>
        </div>
      </form>
    </div>
  </div>
</div>
<div class="container-fluid wrapper-header">
  <app-breadcrumb></app-breadcrumb> 
  <div class="row text-center">
      <div class="col-xs-6 col-xs-offset-3 mt-5 text-hearder">  
        <h3>Oficina Virtual</h3>
        <div class="container-fluid text-par">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis</div>
      </div>
  </div>
</div>  
<div class="main-content back-image">
  <div class="d-flex justify-content-center">
    <div class="col-10 col-sm-5 col-md-5 col-lg-4 col-xl-3 col-xxl-2">
      <div class="shadow p-3 mb-5 bg-body">
        <span>Ingresá a tu cuenta</span>
        <hr>
        <form>
          <div class="mb-3 text-celeste-argentina">
            <label for="exampleInputEmail1" class="form-label">Usuario</label>
            <input type="email" class="form-control rounded-pill border border-2 border-celeste-argentina"
              id="exampleInputEmail1" aria-describedby="emailHelp">
          </div>
          <div class="mb-3 text-celeste-argentina">
            <label for="exampleInputPassword1" class="form-label">Contraseña</label>
            <input type="password" class="form-control rounded-pill border border-2 border-celeste-argentina"
              id="exampleInputPassword1">
          </div>
          <div class="mt-5">
            <div class="m-2">
              <div class="row">
                <button type="button" class="btn btn-po-fucsia text-white rounded-pill mb-3"
                  (click)="login()">Ingresar</button>
              </div>
            </div>
            <div class="m-2">
              <div class="row">
                <button type="button" class="btn btn-celeste-argentina text-white rounded-pill">Registrarse</button>
              </div>
            </div>
            <div class="restore-pass">
              <a href="">olvidé mi contraseña</a>
            </div>

          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<footer class="main-footer">
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-sm-6">
        <div class="region-footer-1">
          <section>
            <h2>Trámites</h2>
            <ul>
              <li><a href="">Turnos</a></li>
              <li><a href="">Trámites a distancia</a></li>
              <li><a href="">Atención al ciudadano</a></li>
            </ul>
          </section>
        </div>
      </div>
      <div class="col-md-4 col-sm-6">
        <div class="region-footer-2">
          <section>
            <h2>Acerca de la República Argentina</h2>
            <ul>
              <li><a href="">Nuestro país</a></li>
              <li><a href="">Leyes argentinas</a></li>
              <li><a href="">Organismos</a></li>
              <li><a href="">Mapa del Estado</a></li>
            </ul>
          </section>
        </div>
      </div>
      <div class="col-md-4 col-sm-6">
        <div class="region-footer-3">
          <section>
            <h2>Acerca de Argentina.gob.ar</h2>
            <ul>
              <li><a href="">Acerca de este sitio</a></li>
              <li><a href="">Términos y condiciones</a></li>
              <li><a href="">Sugerencias</a></li>
            </ul>
          </section>
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid">
    <div class="row sub-footer">
      <div class="container">
        <div class="col-sm-6 m-y-1 p-x-0">
          <img class="image-responsive" width="288" height="40" src="./assets/images/logo_argentina_unida-blanco.svg"
            alt="Argentina Unida">
        </div>
      </div>
    </div>
  </div>
</footer>
