@import "/src/sass/variables";
@import "/src/sass/buttons";

.convenio-container{
    padding:20px;
}

#mi-convenio{
    position:relative;
    padding-top:70px;
    
    .btn-new-rendition{
        background-color:$green-light-app;
        color:white;
        margin-bottom:20px;
        width:100%;
        border-radius:20px;
    }
    .btn-back{
        margin-bottom:10px;
    }
    
}

