<div id="mi-obra">
    <app-obra-search></app-obra-search>
    <app-line-title [title]="title" [icon]="icon" [color]="titleColor" [margin]="20"
        [backButton]="detailModeId ? true : false"></app-line-title>
    <button type="button" class="btn rounded-btn btn-back green" (click)="backStep()" *ngIf="detailModeId">
        <i class="fa-solid fa-angle-left"></i>
    </button>

    <div class="obra-container row mt-2">
        <div class="col-lg-12 col-xl-4" *ngIf="(datasource.length > 6) || detailModeId">
            <app-expediente [color]="titleColor" *ngIf="detailModeId"></app-expediente>
            <div class="mb-3">
                <app-graphic-data [color]="titleColor" [graphicItems]="doughnutChartData" [title]="'Rendiciones'"
                    [totalAmount]="36"></app-graphic-data>
            </div>
            <div class="mb-3">
                <app-amount-information [color]="titleColor" [items]="itemsTotal"></app-amount-information>
            </div>
            <div class="mb-3">
                <app-amount-information [color]="'red'" [items]="totalAlerts"></app-amount-information>
            </div>
        </div>
        <div [class]="(datasource.length > 6) && !detailModeId ? 'col-lg-12 col-xl-8' : 'col-12'">
            <app-obra-grid *ngIf="!detailModeId" (changeDetailMode)="changeDetailMode($event)"></app-obra-grid>
            <app-obra-detail *ngIf="detailModeId"></app-obra-detail>
        </div>
    </div>
</div>