<div class="shadow menu">
  <ul [class.collapse-menu]="collapse">
    <li class="menu-blue">
      <a (click)="collapseMenu()" class="menu-item burger">
        <div>
          <i class="menu-icon fa-solid fa-bars"></i>
          <span [class.hide]="collapse">Menu</span>
        </div>
        <div *ngIf="collapse"><i class="collapse-icon fa-solid fa-angle-right" ></i></div>
        <div *ngIf="!collapse"><i class="collapse-icon fa-solid fa-angle-left" ></i></div>
      </a>
    </li>
    <li *ngFor="let item of menuList;let i = index" [class]="item.classColor">
      <a class="menu-item" [title]="item.name" [routerLinkActive]="['link-active']" [routerLink]="[item.url]" [routerLinkActiveOptions]="{ exact: true }">
        <div>
          <i class="menu-icon" [class]="'fa-solid ' + 'fa-' + item.icon"></i>
          <span [class.hide]="collapse">{{item.name}}</span>
        </div>
      </a>
    </li>
  </ul>
</div>
<app-calendar></app-calendar>
