<div class="row convenio-datos">
    <div class="col-6">
        <div class="card-box shadow">
            <div class="card-box-title">
                <i class="fa-solid fa-file-contract"></i>
                <h4>Datos generales</h4>
            </div>
            <div class="card-box-body">
                <div class="card-box-item">
                    <div class="item">
                        <h5>Tipo de convenio</h5>
                        <p>Marco</p>
                    </div>
                </div>
                <div class="card-box-item">
                    <div class="item">
                        <h5>N° GDE convenio</h5>
                        <p>CONVE-2020-31535573-APN-MOP</p>
                    </div>
                </div>
                <div class="card-box-item">
                    <div class="item">
                        <h5>N° GDE expediente</h5>
                        <p>EX-2020-27339997- -APN-SGA#MOP</p>
                    </div>
                </div>
                <div class="card-box-item">
                    <div class="item">
                        <h5>Código SIPPE</h5>
                        <p>120771</p>
                    </div>
                </div>
                <div class="card-box-item">
                    <div class="item">
                        <h5>Código de la obra</h5>
                        <p>123456</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-6">
        <div class="shadow mb-3">
            <div class="card-box">
                <div class="card-box-body">
                    <div class="card-box-item with-icon">
                        <div class="icon">
                            <i class="fa-solid fa-file-contract"></i>
                        </div>
                        <div class="item">
                            <h5>Convenio marco</h5>
                            <p>EX-2020-27336574- -APN-SGA#MOP</p>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="shadow mb-3">
            <div class="card-box">
                <div class="card-box-body">
                    <div class="card-box-item with-icon">
                        <div class="icon">
                            <i class="fa-solid fa-grip"></i>
                        </div>
                        <div class="item">
                            <h5>Plan</h5>
                            <p>Argentina Hace II</p>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="shadow mb-3">
            <app-amount-information [color]="'violet'" [items]="itemsTotal"></app-amount-information>
        </div>
    </div>
</div>