<div class="card-box shadow">
    <div class="card-box-title">
        <h5>Puesta en valor de las áreas centrales
            del casco urbano Lanús</h5>
    </div>
    <div class="card-box-body">
        <div class="card-box-content">
            <div class="item">
                <span class="data-box">Tipo</span>
                <span class="content-box">Específico</span>
            </div>
            <div class="item">
                <span class="data-box">Nº GDE expediente</span>
                <span class="content-box">EX-2020-27339997-APN-SGA#MOP</span>
            </div>
            <div class="item">
                <span class="data-box">Estado</span>
                <span class="content-box">A la firma MOP</span>
            </div>
        </div>
    </div>
</div>