<div class="shadow searcher violet" [ngClass]="{'closed':!openSearch,'opened':openSearch}">
    <div class="searcher-header" (click)="openSearcher()">
        <div>
            <i class="fa-solid fa-magnifying-glass"></i>
            <span class="p-2">Buscar convenios</span>
        </div>
        <div>
            <div *ngIf="openSearch"><i class="fa-solid fa-angle-down"></i></div>
            <div *ngIf="!openSearch"><i class="fa-solid fa-angle-up"></i></div>
        </div>
    </div>
    <form [formGroup]="searchForm" (ngSubmit)="handleSearch()">
        <div class="searcher-body">
            <div class="form-group">
                <label>SIPPE</label>
                <input formControlName="sippe" class="form-control simple-control violet" type="text" />
            </div>
            <div class="form-group">
                <label>Nombre del proyecto</label>
                <input formControlName="nombre_proyecto" class="form-control simple-control violet" type="text" />
            </div>
            <div class="form-group">
                <label>Tipo</label>
                <div class="multiselect-custom">
                    <span class="multiselect-dropdown-count" *ngIf="searchForm.get('tipo')?.value">
                        Seleccionado: {{searchForm.get('tipo')?.value.length}}
                    </span>
                    <ng-multiselect-dropdown formControlName="tipo" [settings]="selectSettings" [data]="tipoList">
                    </ng-multiselect-dropdown>
                </div>
            </div>
            <div class="form-group">
                <label>Estado</label>
                <div class="multiselect-custom">
                    <span class="multiselect-dropdown-count" *ngIf="searchForm.get('estado')?.value">
                        Seleccionado: {{searchForm.get('estado')?.value.length}}
                    </span>
                    <ng-multiselect-dropdown formControlName="estado" [settings]="selectSettings" [data]="estadoList">
                    </ng-multiselect-dropdown>
                </div>
            </div>
            <div class="form-group">
                <label>Planes</label>
                <select formControlName="planes" class="form-control form-select simple-control-select violet">
                    <option [value]="plan.value" *ngFor="let plan of planesList">
                        {{plan.name}}
                    </option>
                </select>
            </div>
            <div class="form-group date-picker-group" (click)="datePicker.toggle()">
                <label>Fecha</label>
                <input [weekdays]="true" ngbDatepicker #datePicker="ngbDatepicker" placeholder="Desde/Hasta..."
                    class="form-control simple-control orange" formControlName="fechaPresentacion" type="text" />
            </div>
        </div>
        <div class="searcher-footer">
            <button type="button" class="clean-btn btn rounded-btn orange" (click)="clearFilters()">Limpiar</button>
            <button type="submit" class="search-btn btn rounded-btn orange">Buscar</button>
            <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault"
                    [value]="keepFilters" (change)="keepFilters=!keepFilters">
                <label class="form-check-label" for="flexSwitchCheckDefault">Mantener filtros</label>
            </div>
        </div>
    </form>
</div>