<div id="obra-detail">
    <button type="button" class="btn rounded-btn btn-back green" (click)="backStep()">
        <i class="fa-solid fa-angle-left"></i>
    </button>
    <app-line-title [backButton]="true" [title]="title" [icon]="icon" [color]="titleColor" [margin]="20">
    </app-line-title>
    <div class="mb-3">
        <div class="buttons-steps">
            <button type="button" class="btn rounded-btn green" [class.active]="obraOption === options.detail"
                (click)="obraOption = options.detail">
                Detalle de la obra
            </button>
            <button type="button" class="btn rounded-btn green" [class.active]="obraOption === options.document"
                (click)="obraOption = options.document">
                Documentos de la obra
            </button>
        </div>
    </div>
    <div class="obra-detail-container row" *ngIf="obraOption === options.detail">
        <div class="col-lg-12 col-xl-6 mb-3">
            <div class="shadow mb-3 pt-3">
                <app-line-title [neutralLine]="true" [subtitle]="true" [title]="'Avance financiero'" [icon]="icon"
                    [color]="titleColor" [margin]="20"></app-line-title>
                <div class="d-flex section justify-content-between">
                    <div class="card-box w-50">
                        <div class="card-box-body">
                            <div class="card-box-item with-icon">
                                <div class="icon">
                                    <i class="fa-solid fa-building-columns"></i>
                                </div>
                                <div class="item">
                                    <h5>Organismo ejecutor</h5>
                                    <p>Subsecretaría de ejecución de la obra pública - MOP</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-box w-50 amount">
                        <div class="card-box-body">
                            <div class="card-box-item with-icon">
                                <div class="icon">
                                    <i class="fa-solid fa-sack-dollar"></i>
                                </div>
                                <div class="item">
                                    <h5>Monto total vigente de la obra</h5>
                                    <p>$1.000.000</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="d-flex section justify-content-between tri-items">
                    <div class="card-box w-50">
                        <div class="card-box-body">
                            <div class="card-box-item">
                                <div class="item">
                                    <h5>Codigo sippe</h5>
                                    <p>109848</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-box w-50">
                        <div class="card-box-body">
                            <div class="card-box-item">
                                <div class="item">
                                    <h5>Estado</h5>
                                    <p>A iniciar</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-box w-50">
                        <div class="card-box-body">
                            <div class="card-box-item with-icon">
                                <div class="icon">
                                    <i class="fa-solid fa-file-lines"></i>
                                </div>
                                <div class="item">
                                    <h5>Plan</h5>
                                    <p>Argentina Hace</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="d-flex section justify-content-between flex-wrap">
                    <div class="card-box w-50 amount-bar-progress">
                        <div class="card-box-body">
                            <div class="card-box-item with-icon">
                                <div class="icon">
                                    <i class="fa-solid fa-sack-dollar"></i>
                                </div>
                                <div class="item">
                                    <h5>Monto total vigente de la obra</h5>
                                    <p>40%</p>
                                    <p>
                                        <ngb-progressbar class="color-green" [value]="40"></ngb-progressbar>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-box w-50 amount-bar-progress">
                        <div class="card-box-body">
                            <div class="card-box-item with-icon">
                                <div class="icon">
                                    <i class="fa-solid fa-sack-dollar"></i>
                                </div>
                                <div class="item">
                                    <h5>Monto total pagado</h5>
                                    <p>$400.000</p>
                                    <p>
                                        <ngb-progressbar class="color-green" [value]="40"></ngb-progressbar>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-box w-50 amount-bar-progress">
                        <div class="card-box-body">
                            <div class="card-box-item with-icon">
                                <div class="icon">
                                    <i class="fa-solid fa-sack-dollar"></i>
                                </div>
                                <div class="item">
                                    <h5>Monto a rendir</h5>
                                    <p>$225.000</p>
                                    <p>
                                        <ngb-progressbar class="color-green" [value]="40"></ngb-progressbar>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-box w-50 amount-bar-progress">
                        <div class="card-box-body">
                            <div class="card-box-item with-icon">
                                <div class="icon">
                                    <i class="fa-solid fa-sack-dollar"></i>
                                </div>
                                <div class="item">
                                    <h5>Saldo de la obra</h5>
                                    <p>$600.000</p>
                                    <p>
                                        <ngb-progressbar class="color-green" [value]="40"></ngb-progressbar>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-12 col-xl-6">
            <div class="mb-3">
                <div class="mb-3">
                    bloque 3
                </div>
                <div class="mb-3">
                    bloque 4
                </div>
            </div>
        </div>
    </div>

    <div class="obra-detail-container row" *ngIf="obraOption === options.document">
        <div class="col-lg-12 col-xl-8 mb-3">
            <div class="mb-3">
                bloque 1
            </div>
            <div>
                bloque 2
            </div>
        </div>
        <div class="col-lg-12 col-xl-4">
            <div class="mb-3">
                <div class="mb-3">
                    bloque 3
                </div>
                <div class="mb-3">
                    bloque 4
                </div>
            </div>
        </div>
    </div>
</div>