/* You can add global styles to this file, and also import other style files */
@import "sass/variables";
@import "sass/buttons";
@import "sass/inputs";
@import "sass/modal";
@import "sass/searcher";
@import "sass/table";
@import "sass/toast";
@import "sass/card_box";
@import "../node_modules/bootstrap/scss/bootstrap";
@import "sass/progress_bar";


body{
  font-size:16px;
  @media (max-width: 1280px){
    font-size:13px;
}
  background:$light-gray;
  color:$text-gray;
}
.shadow{
  border-radius: 25px;
  background:white;
}



html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
