/* You can add global styles to this file, and also import other style files */
@import "sass/variables";
@import "sass/buttons";
@import "sass/inputs";
@import "sass/modal";
@import "sass/searcher";
@import "sass/table";
@import "sass/toast";
@import "../node_modules/bootstrap/scss/bootstrap";


body{
  font-size:16px;
  background:$light-gray;
}
.shadow{
  border-radius: 25px;
  background:white;
}


