<div class="shadow searcher orange" [ngClass]="{'closed':!openSearch,'opened':openSearch}">
    <div class="searcher-header" (click)="openSearcher()">
        <div>
            <i class="fa-solid fa-magnifying-glass"></i>
            <span class="p-2">Buscar proyectos</span>
        </div>
        <div>
            <div *ngIf="openSearch"><i class="fa-solid fa-angle-down"></i></div>
            <div *ngIf="!openSearch"><i class="fa-solid fa-angle-up"></i></div>
        </div>
    </div>
    <form [formGroup]="searchForm" (ngSubmit)="handleSearch()">
        <div class="searcher-body">
            <div class="form-group">
                <label>SIPPE</label>
                <input class="form-control simple-control green-light" formControlName="sippe" type="text" />

            </div>
            <div class="form-group">
                <label>Organismo</label>
                <div class="multiselect-custom">
                    <span class="multiselect-dropdown-count" *ngIf="searchForm.get('organismo')?.value.length">
                        Seleccionados: {{searchForm.get('organismo')?.value.length}}
                    </span>
                    <ng-multiselect-dropdown [settings]="dropdownSettings" [data]="dropdownList">
                    </ng-multiselect-dropdown>
                </div>
            </div>
            <div class="form-group">
                <label>Nombre del Proyecto</label>
                <input class="form-control simple-control green-light" formControlName="name" type="text" />
            </div>
            <div class="form-group">
                <label>Plan</label>
                <input class="form-control simple-control green-light" formControlName="plan" type="text" />
            </div>
            <div class="form-group date-picker-group" (click)="datePicker.toggle()">
                <label>Fecha (Desde/hasta)</label>
                <input [weekdays]="true" ngbDatepicker #datePicker="ngbDatepicker"
                    class="form-control simple-control green-light" formControlName="fechaPresentacion" type="text" />
            </div>
        </div>
        <div class="searcher-footer">
            <button type="button" class="clean-btn btn rounded-btn green-light">Limpiar</button>
            <button type="submit" class="search-btn btn rounded-btn green-light">Buscar</button>
            <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
                <label class="form-check-label" for="flexSwitchCheckDefault">Mantener filtros</label>
            </div>
        </div>
    </form>
</div>