<div class="shadow menu">
  <ul>
    <li class="menu-blue">
      <a (click)="collapseMenu()" class="menu-item burger">
        <div>
          <i class="menu-icon fa-solid fa-bars"></i>
          <span [class.hide]="collapse">Menu</span>
        </div>
        <i class="collapse-icon fa-solid fa-angle-left"></i>
      </a>
    </li>
    <li *ngFor="let item of menuList;let i = index" [class]="item.classColor" [ngClass]="{'active':i === 0}">
      <a class="menu-item" [title]="item.name" [href]="item.url" [ngClass]="{'link-active':i === 0}">
        <div>
          <i class="menu-icon" [class]="'fa-solid ' + 'fa-' + item.icon"></i>
          <span [class.hide]="collapse">{{item.name}}</span>
        </div>
      </a>
    </li>
  </ul>
</div>
