@import '../../../../styles.scss';


.menu{
  overflow: hidden;
  ul{
    padding:0;
    margin:0;
    li{
      list-style: none;
      font-size:1.2em;
      font-weight: 600;
      &.active{
        background:$classic-gray;
      }
      .burger{
        cursor:pointer;
      }
      .menu-item{
        justify-content: space-around;
        padding:30px 30px 30px 50px;
        text-decoration: none;
        color:inherit;
        width: 100%;
        display:flex;
        align-items: center;
        justify-content: space-between;
        &:not(.link-active):hover{
          background:$light-gray;
          transition:all 300ms;
        }
        span{
          display:inline;
          margin-left:20px;
          visibility: visible;
          transition:visibility 0.2s;
          &.hide{
            display:none;
            visibility: hidden;
          }
        }
        .collapse-icon{
          font-size: 30px;
        }
      }
      &:first-child{
        &::after{
          display: none !important;
        }
      }
      &:nth-child(2){
        &::before{
          content: "";
          width: 80%;
          left:10%;
          background:$strong-gray;
          height: 1px;
          display: block;
          position: relative;
        }
      }
      &:not(&:last-child){
        &::after{
          content: "";
          width: 80%;
          left:10%;
          background:$strong-gray;
          height: 1px;
          display: block;
          position: relative;
        }
        &.active::before{
          display:none;
        }
        &.active::after{
          display: none;
        }
      }
      &.menu-blue{
        color:$blue-app;
        .link-active{
          border-left:3px $blue-app solid;
        }
      }
      &.menu-green{
        color:$green-app;
        .link-active{
        }
      }
      &.menu-pink{
        color:$pink-app;
        .link-active{
          border-left:2px $pink-app solid;
        }
      }
      &.menu-green-light{
        color:$green-light-app;
        .link-active{
          border-left:2px $green-light-app solid;
        }
      }
      &.menu-violet{
        color:$violet-app;
        .link-active{
          border-left:2px $violet-app solid;
        }
      }
      &.menu-blue-light{
        color:$blue-light-app;
        .link-active{
          border-left:2px $blue-light-app solid;
        }
      }
    }
  }
}


